.labelcss{
   padding-left:450px;
   margin:20px;
   padding-top:20px;
   font-family:cursive;
}
.div1{
    margin-top:60px;
    margin-left:0px;
    margin-right:0px;
}

.maindiv{
    margin:0px;
}

body{
    margin:0px;
}